<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKTaxonomyDispatchUpdate</strong>
	<span id="TestOLSKTaxonomyDispatchUpdate">0</span>
	<span id="TestOLSKTaxonomyDispatchUpdateData">undefined</span>
</p>
